In [29]:
# importing necessary libraries
from pathlib import Path
import pandas as pd

# import paths
menu_csv = Path('./Resources/menu_data.csv')
sales_csv = Path('./Resources/sales_data.csv')
df_menu = pd.read_csv(menu_csv)
df_sales = pd.read_csv(sales_csv)

# Grouping menu item and summing the quantity of sales
df_sales_food = df_sales.groupby('Menu_Item')['Quantity'].sum()

# Grouping menu items and price
df_menu_price = df_menu.groupby('item')['price'].sum()

# Grouping menu items and cost
df_menu_cost = df_menu.groupby('item')['cost'].sum()

# Concating Qantity Price and Cost and dropping na
df3 = pd.concat([df_sales_food,df_menu_price,df_menu_cost], axis = 'columns').dropna()

# Adding new column 'revenue'
df3['revenue'] = df3['Quantity']*df3['price']

# Adding new column for Cost of Goods 'cog'
df3['cog'] = df3['Quantity']*df3['cost']

# Adding new column for 'profits'
df3['profits'] = df3['revenue']-df3['cog']

,Quantity,price,cost,revenue,cog,profits
burnt garlic tonkotsu ramen,9070.0,14.0,6,126980.0,54420.0,72560.0
miso crab ramen,8890.0,12.0,6,106680.0,53340.0,53340.0
nagomi shoyu,9132.0,11.0,5,100452.0,45660.0,54792.0
shio ramen,9180.0,11.0,5,100980.0,45900.0,55080.0
soft-shell miso crab ramen,9130.0,14.0,7,127820.0,63910.0,63910.0
spicy miso ramen,9238.0,12.0,5,110856.0,46190.0,64666.0
tonkotsu ramen,9288.0,13.0,6,120744.0,55728.0,65016.0
tori paitan ramen,9156.0,13.0,6,119028.0,54936.0,64092.0
truffle butter ramen,8982.0,14.0,7,125748.0,62874.0,62874.0
vegetarian curry + king trumpet mushroom ramen,8824.0,13.0,7,114712.0,61768.0,52944.0
vegetarian spicy miso,9216.0,12.0,5,110592.0,46080.0,64512.0

In [ ]:
#Renaming columns
df3.rename(columns = {'Quantity':'01-count', 'revenue':'02-revenue','cog':'03-cogs','profits':'04-profit'}, inplace = True)
#drop price & cost column from DataFrame
cols = [1,2]
df3.drop(df3.columns[cols], axis=1, inplace=True)